<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style1.css">


</head>

<body>
    <nav>
        <ul>
            <img class="logo" src="/images/logo.png" alt="">
            <li>
                <a href="index.html">Choose your Destination!</a>
            </li>
            <li>
                Contact
            </li>
        </ul>
    </nav>
    <div class="container">
        <img src="/images/forest-ecosystem.jpg" alt="">
        <div class="box"> Visit your Favourite Destination <br>With US </div>

    </div>
</body>

</html>