<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Travel Planner</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>

<body>

  <h1 class="holder headline">
    Travel Planner
  </h1>

  <div id="app" class="app">
    <div class="holder zip">
      <form action=""></form>
      <input type="text" id="cityName" placeholder="Enter Destined City-name">
      <input type="date" id="visitDate" placeholder="">

      <button id="generate" type="submit"> Explore! </button>
      <ul id="addList">

      </ul>
      <button id="clear" type="submit">Clear List</button>
    </div>

    <div class="holder">
      <div class="title"></div>
      <div id="entryHolder">
        <div id="country" class="entryHolder-items"></div>
        <div id="lat" class="entryHolder-items"></div>
        <div id="long" class="entryHolder-items"></div>
        <div id="temp" class="entryHolder-items"></div>
        <div id="wind" class="entryHolder-items"></div>
        <img id="placeImage" class="" src="">
      </div>
    </div>
  </div>

  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
</body>

</html>