// TODO: Remove file if not used

body {
    background-color: rgba(230, 225, 231, 0.5);
    margin: 0;
  }
  
  .logo {
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 40px;
    width: 80px;
  }
  
  ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    background-color: rgb(8, 48, 28);
    margin: 0;
    padding: 0;
  }
  
  li {
    color: aliceblue;
    list-style-type: none;
    padding: 10px 10px 0;
  }
  
  .container {
    color: aliceblue;
    position: relative;
    text-align: center;
  }
  
  img {
    width: 100vw;
    height: auto;
  }
  
  .box {
    position: absolute;
    top: 10%;
    width: 100%;
  }
  