body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: rgb(14, 14, 13);
}

.list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;  
    padding: 10px 20px 0 10px;
    background-color: #8bcae4;
    height: 40px;
    align-items: center;
}

a {
    text-decoration: none;
    color: #1d4878;
    font-weight: bolder;
    font-size: large;
    margin-left: auto;
    padding-left: 20px;
}

nav{
    margin-right: auto;
}

a:hover{
    color: #3a8ff0;
}
#generate:hover{
    background-color: #1c3552;
    box-shadow: 2px 4px 5px;
}
#clear:hover{
    background-color: #1c3552;
    box-shadow: 2px 4px 5px;
}

h1{
    font-family: 'Oswald', sans-serif;
    color: #112c4b;
    font-size: 45px;
    align-self: center;
    padding: 10px;
    height: 25px;

}

#app{
    display: grid;
    grid-auto-rows: minmax(200px, max-content);
    grid-template-columns: 350px 1fr;
    width:auto;
    background: linear-gradient(rgb(54, 42, 97) 0%,  #1d4878 50%, #475a70 100%);
    color: rgb(163, 145, 145);
    justify-content: center;
    align-items: center;
    grid-gap: 2em;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    box-shadow: 2px 4px 5px;
}

.feel{
    display: grid;
    grid-gap:10px;
}

.entry{
    background: #364247;
    font-size: 25px;
    box-shadow: 2px 4px 5px;
    margin: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;

}

.holder{
display:grid;
justify-content: center;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
input{
    display:block;
    height: 60px;
    width: 320px;
    background:#364247;
    color: #eaf1f3;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    margin: 15px;
    box-shadow: 2px 4px 5px ;

}

button{
    width: 300px;
    height: 80px;
    background: #4d72c4;
    color: #141309;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px;
    cursor: pointer;
    margin: 20px;
}

textarea{
    background:#bdeaf7;
    color: #141309;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    box-shadow: 2px 4px 5px rgb(156, 151, 151);
}

#placeImage{
  display: none;
  border-bottom-left-radius: 80px;
  border-top-right-radius: 80px;
  height: 450px;
  width: 650px;
  &.show{
      display:block;
  }
}

.remDisc{
    list-style-type: none;
    color:rgb(163, 145, 145)
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #141309; 
    font-family: 'Oswald', sans-serif;
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #141309; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #141309; 
    font-family: 'Oswald', sans-serif;

} 
.entryHolder-items{
    text-align: center;
    }
    
@media  (min-width:320px) and (max-width: 767px) {
  #app {
    display: grid;
    grid-auto-rows: minmax(100px, max-content);
    grid-template-columns: 1fr;
    justify-content: center;
  }   

  #placeImage{
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 200px;
    width: 300px;
    &.show{
        display:block;
        justify-content: center;
    }
  }
     
}

@media (min-width:767px) and (max-width: 1150px){

    #app {
        display: grid;
        grid-auto-rows: minmax(100px, max-content);
        grid-template-columns: 1fr;
        justify-content: center;
      }   

    #placeImage{
        border-bottom-left-radius: 50px;
        border-top-right-radius: 50px;
        height: 350px;
        width: 550px;
        &.show{
            display:block;
            justify-content: center;
        }
      }

}